.body {
  padding: 6rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  border: 10px;
}

.galeri {
  background-color: #e2edff;
  padding: 6rem;
}

.section {
  padding-top: 6rem;
}
